<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-gray-800 ">
  <nav class="bg-blue-600 p-10 ">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/src/views/index.html" class="text-white text-2xl font-bold tracking-wider">
        Register 
      </a>
  
      <div class="space-x-6">
        <a href="/src/views/index.html" class="text-lg text-white hover:text-gray-400 transition-colors">Dashboard</a>
        <a href="#" class="text-lg text-white hover:text-gray-400 transition-colors">Cadastrar Novo</a>
        <a href="#" class="text-lg text-white hover:text-gray-400 transition-colors">Relatórios</a>
      </div>
      <button class="bg-white text-black px-4 py-2 rounded-full font-semibold hover:bg-gray-300 transition-all">
        Entrar
      </button>
    </div>
  </nav>
  <p class="text-white text-center mt-10 text-3xl font-bold">
    Lista de funcionários
  </p>
  <button class="bg-white-500 text-white px-4 py-2 rounded-full font-semibold hover:bg-blue-600 transition-all mt-5 ml-10">
    Adicionar funcionário
  </button>
  <div>
  </div>
  
  <footer class="bg-blue-600 p-6 mt-10">
    <div class="container mx-auto text-center text-white">
      &copy; 2026 Register. Todos os direitos reservados.
    </div>

  </footer>
</body>
</html>
